.about {
  margin-bottom: 2rem;
}

.profile-name {
  position: absolute;
  width: 100%;
  /* text-align: center; */
  color: black;
  font-size: 3.5rem;
  top: 17.9rem;
  left: 2rem;
  font-family: 'Playfair Display', serif;
}

.about-me {
  align-items: center;
  justify-content: center;
}

.about-me-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem;
}

.about-me-content {
  font-family: 'Roboto', sans-serif;
  color: rgb(97, 97, 97);
}

